@import '../mixins.scss';

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: toRem(40);
    height: toRem(40);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;

    &:focus {
        outline: none;
    }

    div {
        width: toRem(40);
        height: 0.25rem;
        background: $white;
        border-radius: toRem(10);
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;

        &:first-child {
            transform: rotate(0);
        }

        &:nth-child(2) {
            opacity: 1;
            transform: translateX(0);
        }

        &:nth-child(3) {
            transform: rotate(0);
        }
    }
    &.active {
        div {
            &:first-child {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
                transform: translateX(#{toRem(20)});
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}
