@import '../_variables.scss';

.content-section {
    padding-bottom: $sectionMargin;
    padding-top: $sectionMargin;

    .inner-content {
        margin-top: calc($sectionMargin / 2);
    }

    &--reduced-padding {
        padding-bottom: calc($sectionMargin / 2);
        padding-top: calc($sectionMargin / 2);
    }

    &--reduced-padding-bottom {
        padding-bottom: calc($sectionMargin / 2);
    }

    &--reduced-padding-top {
        padding-top: calc($sectionMargin / 2);
    }

    &--no-padding {
        padding: 0;
    }

    &--no-padding-top {
        padding-top: 0;
    }
}
