$blue: #1136fe;
$yellow: #ffe699;
$pink: #e384d8;
$green: #4bf985;
$darkGreen: #002807;
$black: #000000;
$beige: #fef3ee;
$white: #ffffff;
$grey: #cccccc;
$circularBook: 'CircularStd-Book', sans-serif;
$circularBold: 'CircularStd-Bold', sans-serif;
$circularBlack: 'CircularStd-Black', sans-serif;
$mobileBreakpoint: 350px;
$gutterWidth: 1rem;
$sectionMargin: 3rem;
$sectionMarginMobile: 1.5rem;
