:root {
    --blue: #1136fe;
    --yellow: #ffe699;
    --pink: #e384d8;
    --green: #4bf985;
    --darkGreen: #002807;
    --black: #000000;
    --beige: #fef3ee;
    --white: #ffffff;
    --grey: #cccccc;
    --circularBook: 'CircularStd-Book', sans-serif;
    --circularBold: 'CircularStd-Bold', sans-serif;
    --circularBlack: 'CircularStd-Black', sans-serif;
    --mobileBreakpoint: 350px;
    --gutter-width: 1rem;
    --section-margin: 3rem;
    --section-margin-mobile: 1.5rem;
}
